<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add a New Show </h1>
    <a href="/">GO Back</a>
    <form action="/create" method="POST">
        {% csrf_token %}
        <h3>Title:</h3>
        <input name="title" type="text">
    <br>
        <h3>Newtwork:</h3>
        <input name="network" type="text">
    <br>
        <h3>Realease Date:</h3>
        <input name="release_date" type="date">
    <br>
        <h3>Description:</h3>
        <input name="description" type="text">
    <br>
    <br>
        <button type="submit">Create</button>
    </form>
</body>
</html>