<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit Show {{show.id}} </h1>

    <a href="/">GO Back</a>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
    <form action="/update/{{show.id}}" method="POST">
        {% csrf_token %}
        <h3>Title:</h3>
        <input name="title" type="text" value="{{ show.title}} ">
    <br>
        <h3>Newtwork:</h3>
        <input name="network" type="text" value="{{ show.network }}">
    <br>
        <h3>Realease Date:</h3>
        <input name="release_date" type="date" value="{{ show.release_date }}">
    <br>
        <h3>Description:</h3>
        <input name="description" type="text" value="{{ show.description }}">
    <br>
    <br>
        <button type="submit">Update</button>
    </form>
        <a href="/show/{{show.id}}">Go to Show</a>

</body>
</html>